@model DivisionsListViewModel
@{
    ViewData["Title"] = "Divisions";
}

<h1>Divisions</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control form-control-lg" placeholder="Search division name" />
            <span>
                <button class="btn btn-light btn-lg">
                    <i class="bi bi-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<ul class="list-group">
    <li class="list-group-item list-group-item-action active" aria-current="true">
        Names
    </li>
    @foreach(var division in Model.Divisions)
    {
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="#" class="text-reset">
                @division.Name
                <span>
                    <a class="btn btn-lg" asp-controller="Divisions" asp-action="Edit" asp-route-divisionId="@division.DivisionId">
                        <i class="bi bi-pen-fill"></i>
                    </a>
                </span>
            </a>

        </li>

    }
</ul>
<br />
<a asp-action="Edit" class="btn btn-primary">Add New</a>
