@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Football Data</h1>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control form-control-lg" placeholder="Search name" />
                <span>
                    <button class="btn btn-light btn-lg">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>

